button
{
    background-color: #d4d7db;
    color: black;
}

body{
    height:auto;
    min-height:100vh;
    width: 100%;
    background-image:url(/assets/image.jpg);
    font-family: sansation;
}
.align-fields{
     display: inline-block;    
}
.align-field{
    display: inline;    
}

.padding{
  margin-left: 14px;
}

label{
    color: white;
}


